<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('seo') %>
    <link rel="stylesheet" href="<%- page.srcfix %>css/main.css">
    <link rel="stylesheet" href="<%- page.srcfix %>css/tailwind.css">
  </head>

  <body x-data="{'open' : false}" class="flex flex-col min-h-screen overflow-y-scroll">
    <%- include("navbar") %>
    <%- body %>
    <%- include("footer") %>
    <script src="<%- page.scrfix %>js/alpine.js"></script>
    <script src="<%- page.scrfix %>js/main.js"></script>
  </body>

</html>