<!DOCTYPE html>
<html lang="en">

  <head>
    

    <%- include('seo') %>
    
    <link rel="stylesheet" href="<%- page.srcfix %>css/tailwind.css">
    <link rel="stylesheet" href="<%- page.srcfix %>css/main.css">
  </head>

  <body>
    <%- include("navbar") %>
    <%- body %>
    <%- include("footer") %>

    <% if(_production){ %>
    <!-- for production mode -->
    <script src="<%- page.srcfix %>js/main.js"></script>
    <% }else{ %>
    <!-- for development mode -->
    <script src="<%- page.srcfix %>js/main.js"></script>
    <% } %>
  </body>

</html>