---
{
title: 'picogen',
layout : 'docslayout'
}
---
<div>
  <h2 class="text-4xl mb-8">Variables</h2>

  <p class="mb-5">Gloabl Variables</p>

  <table class="border">
    <tr>
      <td class="p-2 px-3 font-bold capitalize">settings</td>
      <td class="p-2 px-3 pl-5 font-bold capitalize">description</td>
    </tr>
    <% site.data.info.variables.global.forEach(data => { %>
      <tr>
        <td class="p-2 px-3"><%- data.settings %></td>
        <td class="p-2 px-3 pl-5"><%- data.description %></td>
      </tr>
    <% }); %>
  </table>

  <p class="my-5">Site Variables</p>

  <table class="border">
    <tr>
      <td class="p-2 px-3 font-bold">settings</td>
      <td class="p-2 px-3 pl-5 font-bold">description</td>
    </tr>
    <% site.data.info.variables.site.forEach(data => { %>
      <tr>
        <td class="p-2 px-3"><%- data.settings %></td>
        <td class="p-2 px-3 pl-5"><%- data.description %></td>
      </tr>
    <% }); %>
  </table>

  <p class="my-5">Page Variables</p>

  <table class="border">
    <tr>
      <td class="p-2 px-3 font-bold">settings</td>
      <td class="p-2 px-3 pl-5 font-bold">description</td>
    </tr>
    <% site.data.info.variables.page.forEach(data => { %>
      <tr>
        <td class="p-2 px-3"><%- data.settings %></td>
        <td class="p-2 px-3 pl-5"><%- data.description %></td>
      </tr>
    <% }); %>
  </table>
</div>
