<% if (page.data?.title) { %>
<title><%- page.data.title %></title>
<meta property="og:title" content="<%- page.data.title %>" />
<% } %>

<% if (page.data?.description) { %>
<meta name="description" content="<%- page.data.description %>">
<meta property="og:description" content="<%- page.data.description %>" />
<% } %>

<% if (page.data?.keywords) { %>
<meta name="keywords" content="<%- page.data.keywords %>">
<% } %>

<% if(config.siteName) { %>
<meta property="og:site_name" content="<%- config.siteName %>" />
<% } %>

<% if(page.URL) { %>
<meta property="og:url" content="<%- config.websiteURL+page.URL %>" />
<link rel="canonical" href="<%- config.websiteURL+page.URL %>" />
<link rel="alternate" hreflang="x-default" href="<%- config.websiteURL+page.URL %>" />
<% } %>

<meta property="og:locale" content="en_US" />

<% if(page.data?.image || config.siteImage) { %>
  <% if(page.path == '/') { %>
    <meta property="og:image" content="<%- page.data.image ?  config.websiteURL + page.data.image : config.siteImage %>" />
  <% } else if (page.data?.image) { %>
    <meta property="og:image" content="<%- config.websiteURL + page.data.image %>" />
  <% } %>
<% } %>

<% if(page.data?.schema) { %>
<script type="application/ld+json">
  <%- JSON.stringify(page.data.schema) %>
</script>
<% } %>

<% try { if(tagId) {%>
<!-- Google Tag Manager -->
<script>
  (function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
      'gtm.start': new Date().getTime(),
      event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
      'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', '<%- tagId %>');
</script>
<!-- End Google Tag Manager -->
<% }} catch(e){} %>