<div>
  <a class="block" href="<%- page.srcfix %>docs">docs</a>
  <a class="block" href="<%- page.srcfix %>quick-start">quick-start</a>
  <a class="block" href="<%- page.srcfix %>setup">setup</a>
  <a class="block" href="<%- page.srcfix %>commands">commands</a>
  <a class="block" href="<%- page.srcfix %>configuration">configuration</a>
  <a class="block" href="<%- page.srcfix %>page-settings">page-settings</a>
  <a class="block" href="<%- page.srcfix %>variables">variables</a>
  <a class="block" href="<%- page.srcfix %>functions">functions</a>
</div>