<div>
  <a class="block py-2 px-3 border-b hover:bg-neutral-900 hover:text-white" href="<%- page.srcfix %>quick-start">Quick-Start</a>
  <a class="block py-2 px-3 border-b hover:bg-neutral-900 hover:text-white" href="<%- page.srcfix %>setup">Setup</a>
  <a class="block py-2 px-3 border-b hover:bg-neutral-900 hover:text-white" href="<%- page.srcfix %>commands">Commands</a>
  <a class="block py-2 px-3 border-b hover:bg-neutral-900 hover:text-white" href="<%- page.srcfix %>configuration">Configuration</a>
  <a class="block py-2 px-3 border-b hover:bg-neutral-900 hover:text-white" href="<%- page.srcfix %>page-settings">Page-Settings</a>
  <a class="block py-2 px-3 border-b hover:bg-neutral-900 hover:text-white" href="<%- page.srcfix %>variables">Variables</a>
  <a class="block py-2 px-3 border-b hover:bg-neutral-900 hover:text-white" href="<%- page.srcfix %>functions">Functions</a>
</div>