<div>
  <a class="block" href="<%- page.srcfix %>docs.html">docs</a>
  <a class="block" href="<%- page.srcfix %>setup.html">setup</a>
  <a class="block" href="<%- page.srcfix %>quick-start.html">quick-start</a>
  <a class="block" href="<%- page.srcfix %>commands.html">commands</a>
  <a class="block" href="<%- page.srcfix %>configuration.html">configuration</a>
  <a class="block" href="<%- page.srcfix %>page-settings.html">page-settings</a>
  <a class="block" href="<%- page.srcfix %>variables.html">variables</a>
  <a class="block" href="<%- page.srcfix %>functions.html">functions</a>
</div>